/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.page-content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2.divider {
    font-size: 28px;
    color: #555;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Стили для блока с постами */
.blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post img.post-img {
    max-width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.post .main-data {
    margin-bottom: 10px;
}

.post .title {
    font-size: 24px;
    color: #333;
    margin: 0 0 5px;
}

.post .message {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.post .author-post {
    font-size: 14px;
    color: #999;
    margin-top: 15px;
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.pagination .pagination-links {
    display: flex;
    list-style: none; /* Убирает стандартные маркеры списка */
    padding: 0;
}

.pagination .pagination-links li {
    margin: 0 5px; /* Отступы между элементами */
}

.pagination .pagination-links a {
    text-decoration: none; /* Убирает подчеркивание ссылок */
    padding: 8px 12px; /* Внутренние отступы */
    border: 1px solid #007bff; /* Рамка вокруг ссылки */
    border-radius: 4px; /* Скругление углов */
    color: #007bff; /* Цвет текста */
}

.pagination .pagination-links a:hover {
    background-color: #007bff; /* Фон при наведении */
    color: white; /* Цвет текста при наведении */
}

.pagination .pagination-links a.active {
    background-color: #007bff; /* Фон активной страницы */
    color: white; /* Цвет текста активной страницы */
}

