.biografy {
    width: 40%; /* Устанавливаем ширину main по вашему выбору */
    margin: 0 auto; /* Центрируем main по горизонтали */
    padding: 20px; /* Добавьте отступы по краям main по вашему усмотрению */
    line-height: 1.5; /* Высота строки для красных строк */
    text-indent: 20px; /* Отступ для красных строк */
    text-align: left; /* Выравнивание текста внутри main по левому краю */
}